@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* color variable */
  --primary-color: #f948b2;
  --secondary-color: #0b0223;
  --gray-color: #534c64;
  --cyan-color: #4ec5f7;
  --white-color: #ffffff;
  /* font-size masurement variable */

  --primary-fo-size: 6rem;
  --secondary-fo-size: 3rem;
  --md-fo-size: 1.5 rem;
  --sm-fo-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}
body p {
  color: #534c64;
}
.t-center{
  text-align: center;
}
.primary-button {
  font-size: var(--md-fo-size);
  padding: 1rem 2rem;
  border-radius: 30px;
  font-weight: 600;
  color: var(--white-color);
  background: linear-gradient(
    to right,
    var(--white-color),
    var(--primary-color)
  );
  border: none;
}
.general-button {
  font-size: var(--md-fo-size);
  padding: 1rem 2rem;
  border-radius: 30px;
  font-weight: 600;
  color: var(--white-color);
  background: var(--cyan-color);
  border: none;
}

.primary-text {
  color: var(--primary-color);
}
.big-fo-size {
  font-size: var(--primary-fo-size);
}
.semi-big-fo-size {
  font-size: var(--secondary-fo-size);
}
.md-font-size {
  font-size: var(--md-fo-size);
}
.sm-font-size {
  font-size: var(--sm-fo-size);
}
.t-end {
  text-align: end;
}
/* nav css */
.nav-title {
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1rem;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.08);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul > li {
  list-style: none;
}
nav > ul > li a {
  color: var(--secondary-color);
  font-weight: 500;
  text-decoration: none;
  margin-right: 2em;
}
.icon-list-item {
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: #e7e6e9;
  padding: 10px 20px;
  border-radius: 10px;
}
nav ul li a .navicons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.navicons svg {
  width: 50px;
  height: 50px;
}

/* hero section css start */
.hero-content-list li div img {
  height: 24px;
  width: 24px;
}

.hero-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  background: linear-gradient(to bottom, #f948b2, #7a2ed1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 0.5em;
}

.hero-content-list li {
  list-style: none;
  margin-bottom: 1em;
}
.hero-content-list div {
  display: flex;
  justify-content: start;
  gap: 1em;
  align-items: center;
  font-size: var(--sm-fo-size);
  font-weight: 500;
}
.btn-container {
  display: flex;
  align-items: center;
  margin-top: 3em;
  gap: 2em;
}

.text-content {
  order: 1;
}
.img-content img,
.content-img img {
  width: 100%;
}
.img-content {
  order: 2;
}

/* our gamers section */

.we-r-gamer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}
.content-img {
  flex-basis: 100%;
}
.content-text {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: end;
  gap: 0.8em;
  flex-basis: 100%;
}
.w-r-g-pl {
  padding-left: 8rem;
}

/* game funny videos */
.game-video {
  text-align: start;
  margin: 1rem 0;
}
.game-video h2 {
  margin: 1rem 0;
}
.game-video p {
  margin-bottom: 2rem;
}

.grid-videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.grid-videos .video-card img {
  width: 100%;
}
.grid-videos .video-card p {
  margin-top: 0.6rem;
}

/* video card animation part */
.video-card .card-img {
  position: relative;
  margin: 0;
}
.v-card-hover-effect {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 99%;
  border-radius: 15px;
  transform: translateX(-2000px);
}
.video-card > .card-img:hover .v-card-hover-effect {
  transform: translateX(0px);
}
.v-card-hover-effect img {
  height: 50px;
  width: 50px !important;
  position: relative;
  top: 45%;
  left: 45%;
}
/* play instantly */
.playinstantly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 150px;
}
.playinstantly .instcontent-img .image1 {
  width: 100%;
}
.instcontent-img {
  position: relative;

  flex-basis: 100%;
}
.playinstantly .instcontent-img .image2 {
  position: absolute;
  bottom: -65px;
  left: -104px;
  width: 250px;
}

.playinstantly > .instacontent-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  flex-basis: 100%;
}
.playinstantly > .instacontent-text p {
  padding-right: 6rem;
}

/* play game */


.playinstantly .playgame-img .image1 {
  width: 100%;
}
.playgame-img {
  position: relative;
  flex-basis: 100%;
}
.playinstantly .playgame-img .image2 {
  position: absolute;
  bottom: -65px;
  right: -104px;
  width: 250px;
}

.playinstantly > .playgame-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-basis: 100%;

  padding: 2rem;
}
.playinstantly > .playgame-text p {
  padding-left: 6rem;
}


/* multiple game features section  */
/* sifat Aoc */
.multiple-game-features{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.multiple-game-features .features{
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 2em;
  box-shadow: 0px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.08);
}

.features img{
height: 30px;
width: 30px;
}

.multiple-game-features .features:hover{
  background: linear-gradient(to bottom, #f948b2, #7a2ed1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border: 3px solid var(--primary-color);
}
/* multiple game features section  */
/* sifat Aoc */

/* footer */
.footer-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
  padding: 4rem 0;
  background-color: #0B0223;
  color: #e7e6e9;
}
.footer-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer-icon h6{
  display: inline !important;
}
.footer-icon svg{
  width: 40px;
  height: 40px;
}

/* responsive query  */

@media screen and (max-width: 576px) {
  nav,
  nav ul,
  .hero-part,
  .we-r-gamer,
  .content-text,
  .playinstantly,
  .footer-section {
    flex-direction: column;
    padding: 1.4rem 0.5rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .footer-icon{
    gap: 0.8rem;
    flex-wrap: wrap;
  }
  body {
    padding: 0.5rem;
  }
  nav > ul > li a {
    margin-right: 5px;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
  }
  .img-content {
    order: 1;
  }
  .big-fo-size {
    font-size: 5rem;
  }
  .semi-big-fo-size {
    font-size: 2rem;
  }
  .w-r-g-pl {
    padding-left: 0rem;
    text-align: center;
  }
  .content-text {
    gap: 10px;
  }
  /* funny video grid */
  .grid-videos {
    grid-template-columns: 1fr;
  }
  .game-video h2 {
    margin: 0.7rem 0;
  }
  .game-video p {
    margin-bottom: 0.7rem;
  }
  .game-video {
    text-align: center;
    margin: 0.8rem 0;
  }
  /* play instantly video game */
  .playinstantly{
    margin-bottom: 20px;
  }
  .playinstantly > .instacontent-text p {
    padding-right: 0rem;
  }
  .playinstantly .instcontent-img .image2 {
    position: absolute;
    bottom: -21px;
    left: -16px;
    width: 114px;
  }
  .playinstantly > .instacontent-text {
    gap: 0.9rem;
    padding: 0.7rem;
  }
  .playinstantly > .playgame-text p {
    padding: 0rem;
  }
  .playinstantly .playgame-img .image2 {
    position: absolute;
    bottom: -21px;
    right: -16px;
    width: 114px;
  }
  .playinstantly > .playgame-text {
    gap: 0.9rem;
    padding: 0.7rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 976px) {
  nav,
  nav ul,
  .hero-part {
    flex-direction: column;
    padding: 1.4rem 0.5rem;
    gap: 2rem;
    justify-content: center;
  }
  nav > ul > li a {
    margin-right: 5px;
  }
  /* funny video grid */
  .grid-videos {
    grid-template-columns: repeat(2, 1fr);
  }

  /* play instant video   */
  .playinstantly{
    margin-bottom: 60px;
  }
  .playinstantly > .instacontent-text p {
    padding-right: 0rem;
  }
  .playinstantly .instcontent-img .image2 {
    position: absolute;
    bottom: -21px;
    left: -16px;
    width: 160px;
  }
  .playinstantly > .instacontent-text {
    gap: 1rem;
    padding: 0rem;
  }
  .playinstantly > .playgame-text p {
    padding: 0rem;
  }
  .playinstantly .playgame-img .image2 {
    position: absolute;
    bottom: -21px;
    right: -16px;
    width: 160px;
  }
  .playinstantly > .playgame-text {
    gap: 1rem;
    padding: 0rem;
  }
}
